<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Emails</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GitHub User Emails</h1>
    <form action="/" method="POST">
      <label for="username">Enter Username:</label>
      <input type="text" name="username">
      <button type="submit">Submit</button>
    </form>
      <% if (userData.length) { %>
        <p>Commit Contributors:</p>
        <ul>
          <% userData.forEach(user => { %>
            <li><%= user.name %>: <%= user.email %></li>
         <% }); %>
        </ul>
      <% } else { %>
        <p>Submit a Username!<p>
      <% } %>
  </body>
</html>
