<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Emails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GitHub User Emails</h1>
    <form action="/" method="POST">
      <label for="username">Enter Username:</label>
      <input type="text" name="username">
      <button type="submit">Submit</button>
    </form>
      <% if (error) { %>
        <p style="color:red">Invalid Username</p>
      <% } else if (userData.length) { %>
        <p>Commit Contributors:</p>
        <ul>
          <% userData.forEach(user => { %>
            <li><%= user.name %>: <a href="mailto:<%=user.email%>"><%= user.email %></a></li>
         <% }); %>
        </ul>
      <% } else { %>
        <p>Submit a Username!<p>
      <% } %>
  </body>
</html>
